./03-ejercicio-react/node_modules
./04-ejercicio-recat-router-y-estado-global/node_modules
./07-ejercicio-api-rest-con-express-y-mvc/node_modules
./08-ejercicio-testing-con-node-y-zod/node_modules
./09-ejercicio-test-e2e-con-ia/node_modules
./10-ejercicio-typescript/node_modules
./11-ejercicio-sql/node_modules